@use "@angular/material" as mat;

.app-nav {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-surface),
      standard-height: 3.4rem,
      title-text-size: 1.1rem,
    )
  );

  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-surface),
    )
  );
}
