// Custom Theming for Angular Material
@use "@angular/material" as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$spring-green-palette,
      typography: Roboto,
      density: -1,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-sys-surface);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
